<content>
  <h1><%= @shelter.name %></h1>
  <%= link_to "View Pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %>
  <p><%= @shelter.address %></p>
  <p><%= "#{@shelter.city}, #{@shelter.state}  #{@shelter.zip}" %></p>
  <br>
  <% @shelter.reviews.each do |review| %>
  <section id = <%="Review-#{review.id}" %>>
    <div>
      <p><%= review.title %></p>
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
      <%= link_to "Edit Review", "/shelters/#{@shelter.id}/#{review.id}/edit" %>
      <%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", method: :delete %>
  <% end %>
  <br>
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
  <br>
      <% if @shelter.pending_pets.length == 0 %>
      <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
    <% end %>
  <%= link_to "Add New Review", "/shelters/#{@shelter.id}/review/new" %>

</content>
