<content>
  <h1>All Pets</h1>
  <% @pets.each do |pet| %>
    <section id = <%="#{pet.id}" %>>
      <div>
        <h2><%= link_to "#{pet.name.upcase}", "pets/#{pet.id}" %></h2>
        <p>Age: <%= pet.age.to_s %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Currently at: <%= link_to "#{pet.shelter_name}", "/shelters/#{pet.shelter_id}" %></p>
        <%= image_tag(image_path(pet.image)) %>
        <%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
        <% if pet.adoptable_status == "Adoptable" %>
          <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
        <% end %>
      </div>
    </section>
  <% end %>
</content>
